.main-content {
  background-image: url('../assets/foto1.png');
  position: relative;
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  z-index: 2;
}

 .main-content::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: #ffffff;
  left: 0;
  opacity: .4;
} 

.about-title {
  padding: 1rem;
  color: #ffffff;
  text-shadow: 4px 2px 5px rgba(47,47,47,0.8);
  margin-bottom: 0;
  font-size:2.5rem ;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.about-component {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.about-content {
  position: relative;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  padding: 0 1rem;
  box-shadow: 2px 5px 22px -4px rgba(102, 102, 102, 1);
  height: 314px;
  border-radius: 8px;
 
  


}
.about-content:after{
  position:absolute ;
  content: '';
  background-color: #ffffff;
  opacity: .4;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;

}
.title-content{
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  border-top: solid 3px var(--color-complement-4);
  margin-top: 1rem;
  gap: .5rem;
}
.about-content h2{
  letter-spacing: 2px;
}

.about-content h2 img{
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.about-content p{
  text-align: justify;
  font-size: 1.25rem;
  text-transform: capitalize;
  font: message-box bold 1rem sans-serif;
  z-index: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0;
}

.about-content:nth-child(even) .title-content{
  justify-content:right;
  
}