@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap");


body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  color: var(--text-color);

}

:root {
  --color-primary-0: #f855b4;
  /* Main Primary color */
  --color-primary-1: #fff2fa;
  --color-primary-2: #f997d1;
  --color-primary-3: #f7189b;
  --color-primary-4: #f60090;

  --color-secondary-1-0: #cb5af3;
  /* Main Secondary color (1) */
  --color-secondary-1-1: #fbf3fe;
  --color-secondary-1-2: #dd99f6;
  --color-secondary-1-3: #bb20f2;
  --color-secondary-1-4: #b201f1;

  --color-secondary-2-0: #fd5774;
  /* Main Secondary color (2) */
  --color-secondary-2-1: #fff3f5;
  --color-secondary-2-2: #fd99ab;
  --color-secondary-2-3: #fd1941;
  --color-secondary-2-4: #fc002d;

  --color-complement-0: #c7fd57;
  /* Main Complement color */
  --color-complement-1: #fbfff3;
  --color-complement-2: #ddfd99;
  --color-complement-3: #b3fd19;
  --color-complement-4: #abfc00;

  --text-color: #212020;
  --text-color-light: #484747;
}

/**/
.container {
  width: 100%;


}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
  background-color: #ffffff;
  box-shadow: 2px 5px 22px -4px rgba(102, 102, 102, 1);

}

.main-content {
  display: flex;
  flex-direction: column;
  /* border: solid 1px #ebeaea;
  border-top: none; */

}

/*Header*/
.layout-header {
  position: relative;
  display: flex;
  padding: 1rem;
  background: linear-gradient(90deg, rgba(161, 58, 255) 0%, rgba(255, 82, 237) 49%, rgba(255, 46, 222) 100%);
  

}

.layout-header::before{
  content: ' ';
  position: absolute;
  background-color: #141414;
  opacity: 0.3;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;


}
.layout-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.logo {
  display: flex;
  font-size: 2.75rem;
  width: 100%;
  font-family: "Lobster Two", cursive;
  text-shadow: 2px 0 10px #1e1e1e;
  z-index: 1;

}

.logo-first-string img {
  object-fit: cover;
  width: 310px;
  height: 60px;
  z-index: 1;
}

.menu {
  display: flex;
}

.menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  list-style: none;
  cursor: pointer;
  font-size: 20px;
  z-index: 1;
}
.menu-list a{
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 4px;
}

.menu .menu-list .menu-link, a {
  border-radius: 4px;
  padding: 0.25rem;
  transition: background-color 1s;
}

.menu .menu-list .menu-link a:hover {
  background-color: var(--color-primary-1);
  opacity: 0.8;
  color: var(--color-secondary-1-4);
}

i.ph-user-circle {
  font-size: 3rem;
  color: #ffff;
  padding: 0.25rem;
}

.menu .menu-list-mobile {
  font-size: 28px;
  display: none;
}

/*menu suspenso mobile*/
.dropdown-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 97px;
  right: 12px;
  background-color: #212020;
  opacity: 0.96;
  width: 280px;
  color: #ffff;
  padding: 1rem 0;
  border-radius: 8px;
  display: none;
}

.dropdown-menu span {
  padding: 0 1rem;
  text-align: right;
}

.dropdown-menu span .close-button {
  background-color: transparent;
  border: none;
  color: var(--color-complement-4);
  font-size: 2rem;
  cursor: pointer;
}

.dropdown-menu .menu-list {
  flex-direction: column;
  padding: 0 1rem;
}

.dropdown-menu .menu-list .menu-link {
  width: 100%;
  cursor: pointer;
  margin-bottom: 8px;
  padding: 0 1rem;
  text-align: center;
  letter-spacing: 8px;
}
/**/

.menu-link span {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
}

.menu-link span:after {
  content: '';
  display: flex;
  height: 1px;
  width: 100%;
  background-color: var(--color-complement-4);
  margin-top: 4px;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.menu-link span:hover:after {
  visibility: visible;
  transform: scaleX(1);
}

/*Footer*/

footer {

  opacity: 0.66;
  padding: 1rem 2rem;
  color: var(--color-complement-1);
  box-shadow: 2px 5px 22px -4px rgba(102, 102, 102, 1);
}

.content-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

footer .copyright {
  display: flex;
  align-items: center;
  color: var(--text-color);
  font-style: oblique;
}

footer .social-media {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 0.5rem;
}

.social-media a {
  text-decoration: none;
  color: var(--color-secondary-1-4);
}

footer .social-media .ph {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  border: 4px solid transparent;
  text-align: center;
  transition: background-color 1s ease-in-out;
}

footer .social-media .ph:hover {
  opacity: 0.8;
  color: var(--color-secondary-1-4);
  border-color: var(--color-complement-4);
}



@media screen and (max-width:800px) {
  .menu .menu-list .menu-link {
    font-size: 16px;
  }

}

@media screen and (max-width:671px) {
  .menu .menu-list .menu-link {
    display: none;
  }

  .menu .menu-list .menu-list-mobile {
    display: block;
  }

  .logo img {
    width: 100%;
  }

  .content-footer {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

}