.slogan h1 {
  margin: 0 0 1rem 0;
  padding: 1rem;
  margin-bottom: 0;
  font-size: 3rem;
}

/*Imagem de destaque*/
.client-gallery {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.wrapper-gallery-client {
  display: flex;

}

.wrapper-gallery-client img {
  width: 100%;
  height: 100%;
  box-shadow: 9px 7px 13px -7px rgba(0, 0, 0, 0.75);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

}

/*Imagem das tecnicas*/

.technical-gallery {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-top: 1rem;
}

.slogan-tech {
  margin-bottom: 0rem;
  color: #ffffff;
  text-shadow: 4px 2px 5px rgba(19, 18, 18, 0.959);
  margin-bottom: 0;
  
}

.wrapper-gallery-tech {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.image-content {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  height: 240px;
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: 6px 10px 19px -8px rgba(0, 0, 0, 1);
  background-color: black;
}

.image-content img:hover {
  transform: scale(1.1);
  transition: all 0.8s;
  opacity: 1;
}

.image-content img {
  width: 100%;
  object-fit: cover;
  position: relative;
  min-height: 100%;
  opacity: 0.66;
  cursor: pointer;

}

.caption {
  position: absolute;
  width: 100%;
  color: #ffffff;
  font-size: 1.2rem;
  bottom: -4px;
  left: 8px;
  letter-spacing: 2px;
  transition: all 0.4s;
  border-bottom: 1px solid transparent;
  font-weight: 700;
  padding: 2px 4px;
  margin-bottom: 8px;

}

.image-content:hover .caption {
  color: #ffffff;
  font-weight: 700;
  font-size: 1.5rem;
  bottom: 28px;
  border-bottom: 1px solid var(--color-complement-4);
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.8);
}

@media screen and (max-width:900px) {
  .image-content {
    height: 198px;
  }

}

@media screen and (max-width:800px) {
  .wrapper-gallery-tech {
    flex-direction: column;
    align-items: center;
  }

  .image-content {
    width: 70%;
    min-height: 100%;
    max-height: 280px;
  }

  .slogan {
    font-size: 100%;
    text-align: center;
  }

  .slogan-tech {
    font-size: 80%;
    text-align: center;
  }

}