.main-content section {
  padding: 0rem 1rem;
}

.title {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  display: flex;
}


.title h1 {
  font-size: 4rem;
  margin: 0;
  text-align: center;
  padding: 2rem 0;
}

.table-prices {
  position: absolute;
  text-decoration: none;
  color: var(--color-complement-4);
  font-weight: 900;
  font-size: 1.2rem;
  text-shadow: 4px 2px 5px rgba(22, 22, 22, 0.966);
  bottom: 0;
  right: 0;

}

/*Seleção da técnica*/
.select-content {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1.25rem;
}

.select-content select,
.confirmation-area button {
  padding: 1.5rem;
  color: #ffffff;
  font-size: 1.5rem;
  border-radius: 8px;
  border: none;
  background: var(--color-primary-4);
  cursor: pointer;
  outline: none;
  transition: all 0.5s;
}

.select-content select:hover,
.confirmation-area button:hover {
  background: var(--color-secondary-1-4);
}

/*------------------------------------------------------------------*/

/*Campo de checkbox de serviços - será exibido apenas quando o cliente selecionar o serviço*/
.container-service {
  display: flex;
  margin-top: 1.5rem;
  width: 100%;
  display: none;
}

.container-service .content-service p {
  font-size: 1.25rem;
  margin: 0px 0px 1rem;
  font-weight: 600;
}

.container-service .content-service .checkbox-services {
  display: flex;
  gap: 1rem;

}

.container-service .content-service .checkbox-services input {
  transform: scale(1.5);

}

.container-service .content-service .checkbox-services label {
  font-size: 1.25rem;

}

.container-service .content-service p span {
  font-weight: 400;
}

/*---------------------------------------*/
/*Calendário*/
.content-calendar {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  gap: 1rem;
  padding-bottom: 1rem;
}

.content-calendar p {
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--text-color);
  letter-spacing: 2px;
}

.content-calendar .calendar {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.calendar-content {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calendar-time input[type=time],
.calendar-date input[type=date] {
  width: 177px;
}


.content-calendar .calendar .ph {
  font-size: 2.5rem;
  color: var(--color-secondary-1-4);
}

.content-calendar .calendar input {
  padding: .5rem;
  font-size: 1.25rem;
  border: 2px solid var(--color-complement-2);
  outline: none;
  border-radius: 8px;
  cursor: pointer;
}

.input {
  display: flex;
  align-items: center;
  gap: 8px;
}

.content-calendar .calendar input:hover {
  border: 1px solid var(--color-complement-4);

}

/*-------------------------------------------*/

/*Seleção de pagamento*/
.payment-content {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.payment-content h3 {
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--text-color);
  letter-spacing: 2px;
  margin-top: 0;
  margin-bottom: 1rem;
}

.method-payment-content {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;

}

.method-payment-content .input input[type=radio] {
  transform: scale(1.5);
}

.method-payment-content .content-input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.method-payment-content .input label {
  font-size: 1.25rem;
}

/*-----------------------------------------------*/

/*Resumo do agendamento - será exibido apenas quando o cliente selecionar o serviço*/
.payment-content .summary {
  display: flex;
  flex-direction: column;
  border: 3px solid var(--color-complement-4);
  box-shadow: -3px 2px 11px 0px rgba(24, 23, 23, 0.75);
  border-radius: 8px;
  padding-left: 1rem;
  margin-bottom: 2rem;
  display: none;
}

.summary-wrapper {
  margin-top: 1rem;
}

.payment-content .summary .label-summary {
  display: flex;
  gap: 8px;
  font-size: 1.25rem;

}

.payment-content .summary .label-summary p {
  margin-top: 0;
}

.payment-content .summary .label-summary .label-title {
  font-weight: 600;
}

/*----------------------------------------*/

/*Área de confirmação do agendamento*/
.confirmation-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.25rem;
}

.confirmation-area .content-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.confirmation-area button {
  width: 100%;
}

.confirmation-area .content-notice {
  width: 100%;
}

.confirmation-area .content-notice .notice {
  color: var(--color-secondary-2-3);
  margin-top: 2rem;
  margin-bottom: 4px;
}

/*---------------------------------------------------*/
@media screen and (max-width:670px) {
  .title h1 {
    font-size: 2rem;
  }

  .content-calendar .calendar .ph {
    font-size: 2rem;
  }

  .content-calendar .calendar input {
    padding: .5rem;
    font-size: 1rem;
  }

  .select-content select,
  .confirmation-area button {
    font-size: 1.25rem;
    width: 100%;
  }

  .confirmation-area button {
    width: 100%;
  }

  .content-calendar p,
  .payment-content h3 {
    font-size: 1.12rem;
  }

  .confirmation-area .notice {
    font-size: .875rem;
  }

  .method-payment-content .input input[type=radio] {
    transform: scale(1);
  }

  .method-payment-content .input label {
    font-size: 1rem;
  }
}