.title {
  width: 100%;
}

.title h1 {
  font-size: 3rem;
}

.container-services {
  display: flex;
  flex-direction: column;

}

.services {
  display: flex;
  margin-bottom: 1rem;

}
.container-services .services:nth-child(even) {
  flex-direction: row-reverse;
}


.services figure {
  margin: 0;
  padding: 0 1rem;
}

.services .image-service {
  object-fit: cover;
  width: 100%;
  width: 24rem;
  height: 20rem;
  border-radius: 16px;
}

.container-services .content-service {
  padding: 2rem;
}

.container-services .content-service figcaption {
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--text-color-light);
  color: #ffffff;
  text-shadow: 4px 2px 5px rgba(47, 47, 47, 0.8);
}

@media screen and (max-width:671px){
  .title h1{
    font-size: 1.5rem;
    text-align: center;
  }
  
  .container-services .services{
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
  .services .image-service{
    
  }
}