.title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
}

.title h1 {
  font-size: 3rem;
  margin-bottom: 0;
}

.main-content {
  min-height: 84vh;
}

.main-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem auto;
  width: 80%;
  height: 100%;
  min-height: 460px;
  border: 1px solid rgba(128, 128, 128, 0.425);
  box-shadow: 0px -1px 8px 2px rgba(107, 107, 107, 0.596);
  padding: 2rem;
  

}

.main-form section {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;

}

form {
  max-width: 100%;
  width: 48rem;
}

.content-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 1.25rem;
}

.input-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.content-form label {
  font-size: 1.5rem;

}
.input-password{
  position: relative;
}
.input-password .eye{
  position: absolute;
  z-index: 9;
  bottom: 24px;
  right: 16px;
  cursor: pointer;
  font-size: 20px;
  top: 55px;
}

.content-form input {
  font-size: 1.25rem;
  padding: 1.25rem;
  border-radius: 8px;
  outline: none;
  border: solid 1px var(--color-primary-4);
  background-color: transparent;
}
.content-form input:focus{
  border: solid 1px var(--color-secondary-1-4);
}

.content-form::placeholder {
  font-size: 1.5rem;
}

.error, .error-mail, .error-pass, .error-name, .error-phone,.error-cep,.error-address, .error-neighborhood {
  color: var( --color-secondary-2-4);
  margin: 0;
  display: none;
}

.button-area {
  display: flex;
  flex-direction: column;
}

.button-area p {
  font-size: 1rem;
  font-weight: 600;
}

.button-area button {
  padding: 1.5rem;
  color: #ffffff;
  font-size: 1.5rem;
  border-radius: 8px;
  border: none;
  background: var(--color-primary-4);
  cursor: pointer;
  outline: none;
  transition: all 0.5s;
}

.button-area button:hover{
  background: var(--color-secondary-1-4);
}
.confirmation{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: none;
}


@media screen and (max-width:670px){
  .title h1 {
    font-size: 2rem;
  }
  .content-form label, .content-form input {
    font-size: 1rem;
  }
}